/* Title: admin.css
 Author: clee231
 Description: Administrative CSS */

@font-face {
    font-family: 'NobileRegular';
    src: url('../fonts/Nobile/nobile-webfont.eot');
    src: url('../fonts/Nobile/nobile-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Nobile/nobile-webfont.woff') format('woff'),
         url('../fonts/Nobile/nobile-webfont.ttf') format('truetype'),
         url('../fonts/Nobile/nobile-webfont.svg#NobileRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'NobileItalic';
    src: url('../fonts/Nobile/nobile_italic-webfont.eot');
    src: url('../fonts/Nobile/nobile_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Nobile/nobile_italic-webfont.woff') format('woff'),
         url('../fonts/Nobile/nobile_italic-webfont.ttf') format('truetype'),
         url('../fonts/Nobile/nobile_italic-webfont.svg#NobileItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'NobileBold';
    src: url('../fonts/Nobile/nobile_bold-webfont.eot');
    src: url('../fonts/Nobile/nobile_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Nobile/nobile_bold-webfont.woff') format('woff'),
         url('../fonts/Nobile/nobile_bold-webfont.ttf') format('truetype'),
         url('../fonts/Nobile/nobile_bold-webfont.svg#NobileBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'NobileBoldItalic';
    src: url('../fonts/Nobile/nobile_bold_italic-webfont.eot');
    src: url('../fonts/Nobile/nobile_bold_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Nobile/nobile_bold_italic-webfont.woff') format('woff'),
         url('../fonts/Nobile/nobile_bold_italic-webfont.ttf') format('truetype'),
         url('../fonts/Nobile/nobile_bold_italic-webfont.svg#NobileBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}
 
body {
	background:#FFFFFF url('../../images/background-admin.png') repeat-x;
	font-family: "NobileRegular",Arial,sans-serif;
	font-size: 14px;
}

p {
	font: 13px/22px 'NobileRegular', Arial, sans-serif;
}

td{ 
	line-height: 3em;
	border-bottom: 2px solid #FBC30C;
}

tr{ 
	line-height: 2em;
}

#main-container {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 70%;
}

#logo{
	text-align: left;
}
 
#menu{
	background: none repeat scroll 0 0 #EEFFFF;
    border: 1px solid #AAAAAA;
    border-radius: 5px 5px 5px 5px;
    line-height: 2em;
    max-width: 500px;
    min-width: 200px;
    padding: 5px;
    position: absolute;
    right: 0;
    text-align: right;
    top: 12px;
}
 
.content {	
	margin: auto;
	padding: 15px;
}
 
.error-box {
	background-color: #EE8888;
    border: 1px dashed red;
    border-radius: 15px 15px 15px 15px;
    margin: 15px auto;
    max-width: 800px;
    padding: 15px;
}
 
#error-img {
	height: 40px;
	width: 40px;
	margin-right: 15px;
}

.success-box {
	background-color: #ADFFAD;
    border: 1px dashed green;
    border-radius: 15px 15px 15px 15px;
    left: 25%;
    margin: 0 auto;
    max-width: 800px;
    padding: 15px;
    position: absolute;
    right: 25%;
    top: 95px;
}
 
#logout-img {
	height: 40px;
	width: 40px;
	margin-right: 15px;
}
 
 #loginform {
	background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #AA0000;
	border-radius: 25px 3px 25px 3px;
    box-shadow: 0 4px 10px -1px rgba(200, 200, 200, 0.7);
    font-weight: normal;
	margin: 0 auto;
    padding: 10px 25px 15px;
	width: 400px;
}

#loginform .input{
	background: none repeat scroll 0 0 #F0FFF0;
    border: 1px solid #000000;
    box-shadow: 1px 1px 2px rgba(200, 200, 200, 0.2) inset;
    font-size: 24px;
    font-weight: 200;
    line-height: 1;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: medium none;
    padding: 3px;
    width: 100%;
}
#search{
	background: none repeat scroll 0 0 #FCECBD;
    border: 1px solid #000000;
    box-shadow: 1px 1px 2px rgba(200, 200, 200, 0.8) inset;
    font-size: 17px;
    font-weight: 200;
    line-height: 1;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: medium none;
    padding: 3px;
    width: 300px;
}
.button-primary {
	background: none repeat-x scroll 0 0 #3399FF;
    border: 1px solid #555555;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}
.button-secondary {
	background: none repeat-x scroll 0 0 #BA1B1B;
    border: 1px solid #555555;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}

.content table tbody tr:nth-child(odd){ /*CSS3-only*/
	background-color:#EEFAFF;
}

.content table tbody tr:nth-child(even){ /*CSS3-only*/
	background-color:#FFFFFF;
}
.content table tbody tr:hover{
	background-color:#AADFFF;
}
.tdc{
	background: none repeat scroll 0 0 #EEFAFF;
    height: 3em;
    position: absolute;
    width: 300px;
}
.formcl{
	position: absolute;
	left: 0;
}
.formcr{
	position: absolute;
	right: 0;
}
.tdc .submit{
	margin: 0;
}
.dialog {
	display: none;
}
#footer {
	color: #AAAAAA;
    font-size: 10px;
    margin: 0 auto;
    max-width: 70%;
    text-align: center;
}