body {
	background-color: #dde5ee;
	font-family:verdana,helvetica;
	font-size:0.9em;
}

img {
	border: none;
	opacity: 1;
}

textarea {
	width: 500px;
}

li a:active, li a:link {
	color: #0000FF;
}

li a:hover {
	color: #EE8822;
}

td a:active,td a:link {
	color: #0000FF;
}

td a:hover {
	color: #EE8822;
}

#global-container {
	
}

#hourly-container {
	margin-left: auto;
	margin-right: auto
}

#hourly-container h2 {
	text-align: center;
}

.content-container {
	border:1px solid #000000;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	background-color: #FFF;
	position: relative;
	float:left;
	width: 100%;
}

#content-top {
	background-color: #FFF;
	text-align: center;
	float: left;
	width: 100%;
}

.content-test-top {
	background-color:#111133;
	bottom:0;
	color:#FFFFFF;
	height:130px;
	position:fixed;
	text-align:left;
	width:98.77%;
	z-index: 10000;
	display: none;
}

.content-test-top-static {
	background-color:#111133;
	bottom:0;
	color:#FFFFFF;
	height:130px;
	text-align:left;
	width:100%;
	z-index: 10000;
	float: left;
}

.content-test-top-static h3 {
	display: inline;
	font-size: 1.5em;
}

.content-test-content {
	background-color: #FFF;
}

.content-test-top h3 {
	display: inline;
	font-size: 1.5em;
}

.content-test-top a:visited, a:hover, a:active, a:link {
	color: #EE8822;
}

.imageBottom a:visited, a:hover, a:active, a:link {
	color: #EE8822;
}

.imageBottom strong {
	color: #EE8822;
}

#content-bottom {
	background-color: #444455;
	text-align: center;
	float: left;
	width: 100%;
}

#message-top {
	text-align: center;
}

#menu-container {
	width: 80%;
	margin-left:auto;
	margin-right:auto;
	height: 220px;
}

.menu-item {
	width: 33%;
	position: relative;
	float: left;
}

.menu-item2 {
	width: 33%;
	position: relative;
	float: right;
	left: 30px;
}

.menu-item2 h3 {
	text-align: center;
}

.menu-item iframe {
	width: 90%;
}

.results {
	margin-left:auto;
	margin-right:auto;
	width: 95%;
	border: 1px solid #000;
	border-collapse: collapse;
	background-color: #FFF;
}

.results td {
	border: 1px solid #000;
	padding: 3px;
}

.results th {
	background-color: #e6e6e6;
}

.spacing {
	height: 10px;
}

.nodisplay {
	display: none;
}

#centerImage {
	display:table-cell;
	vertical-align:middle;
}

#opacity {
	background-color:#000000;
	height:100%;
	left:0;
	opacity:0.8;
	position:fixed;
	top:0;
	width:100%;
	display: none;
}

#centerOuter {
	top: 0;
	left: 0;
	position:fixed;
	width: 100%;
	height: 100%;
}

#centerWrapper {
	display:table;
	height:100%;
	margin:0 auto;
}

#centerBottom {
	background-color: #FFF;
	text-align: right;
	height: 25px;
}

#centerLoading {
	background-color: #FFF;
	text-align: center;
	height: 100px;
	width: 100px;
	top: 50%;
	display: none;
}

#centerLoading img {
	position: relative;
	top: 30%;
}

#preload {
	display: none;
}

.tools {
	border-bottom:1px solid #000000;
	margin-left:auto;
	margin-right:auto;
	padding:10px;
	width:98%;
	margin-bottom: 30px;
	text-align: center;
}

.imageBottom { 

}

.image img { 
	#position: relative;
}

.list3 {
	background-color:#FFF;
	float:left;
	min-height:200px;
	position:relative;
	width:33.33%;
}

.list2 {
	background-color:#FFF;
	float:left;
	min-height:450px;
	position:relative;
	width:49.99%;
}

.list1 {
	background-color:#FFF;
	float:left;
	min-height:200px;
	position:relative;
	width:100%;
}

.list1 iframe {
	width: 100%;
	height: 800px;
}

.meat-container {
	width: 100%;
}

#box {
	border: 1px solid #000;
}

#timespan {
	text-align: center;
}

#individual-tests {
	width: 380px;
	height: 200px;
	overflow: auto;
	margin-bottom: 20px;
	border: 1px solid #000000;
	background-color: #FFF;
}

#footer {
	text-align: center;
}

#svgbasics {
border:1px solid #448844;
height:300px;
width:400px;
}

.demoHeaders {
    margin-top: 2em;
}

#dialog_link {
    padding: .4em 1em .4em 20px;
    text-decoration: none;
    position: relative;
}

#dialog_link span.ui-icon {
    margin: 0 5px 0 0;
    position: absolute;
    left: .2em;
    top: 50%;
    margin-top: -8px;
}

ul#icons {
    margin: 0;
    padding: 0;
}

ul#icons li {
    margin: 2px;
    position: relative;
    padding: 4px 0;
    cursor: pointer;
    float: left;
    list-style: none;
}

ul#icons span.ui-icon {
    float: left;
    margin: 0 4px;
}


.selHrs, .selMins {
	width:2.5em;
}
.selHrs {
	margin-left:5px;
}
.dayPeriod {
	display:inline-block;
	width:20px;
}
.slider {
	height:120px; 
	float:left; 
	margin:10px
}

#tpSelectedTime {
	margin-bottom:0;
	border-bottom:1px solid #aaa;
	padding:5px;
	color:#000;
	background:#fff;
	text-transform:none;
	
}
#tpSelectedTime span {
	fon-weight:bold;
}
#datepicker {
	
}
#pickerplug {
	overflow:hidden;
	display:none;          		
	position:absolute;
	top:200px;
	left:300px; 
					padding:0;
					margin:0;
	z-index:500;	
}
#pickerplug li {
	display:block;
	float:left;
}
#timepicker {
	border:1px solid #aaa;	
	background:#fff;
}
#timepicker ul {
	overflow:hidden;
	padding:5px;
}
#timepicker ul li {
	position:relative;
	display:block;
	float:left;
	width:50px;
	        		
}
#timepicker ul li h4 {
	width:100%;
	background:transparent;
	color:#000;
				text-align:center;		
}
#timepicker ul li .slider {
	position:relative;
	left:10px;
}

.content-end {
	float:left;
	height: 30px;
	background-color: #888;
	width: 100%;
}

.top-bar {
	display: none;
}

