body {
				font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif
			}
			
			p {
				font-size: 13px;
			}
			
			.content {
				border-radius: 15px;	
				margin: auto;
				padding: 15px;
				border: 1px solid #000;
			}
			
			
			
			#menu {
				text-align: center;
				
			}
			
			.menu_item {
				padding: 0px 8px;
			}
			
			#footer {
				height: 70px;
				margin-top: -10px;
				text-align: center;
			}
			#logo {
				text-align: center;
			}

#logo img {
	border-style: none;
}

.message-box {
	border-bottom: 1px dashed #000;
}

.content-title {
	text-align: center;
}

input {
	width: 200px;
}

textarea {
	width: 600px;
	height: 250px;
}

.separator {
	height: 1px;
	background-color: #000;
	color: #000;
}

.error-box {
	margin-left: auto;
	margin-right: auto;
	max-width: 800px;
	border-radius: 15px;	
	border: 1px solid red;
	margin-bottom: 15px;
	margin-top: 15px;
	padding: 15px;
}

#error-img {
	height: 40px;
	width: 40px;
	margin-right: 15px;
}

#main-container {
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}

#social-container {
	background-color: #ccc;
	bottom: 0;
	height: 42px;
	margin: 0 0 0 -8px;
	padding-left: 15px;
	position: fixed;
	width: 100%;
	padding-top: 10px;
}

#google {
	position: absolute;
	top: 20px;
	
}

#facebook {
	position: absolute;
	left: 105px;
	top: 18px;
}	

#twitter {
	font-size: 10pt;
	margin: 0px auto;
	width: 50%;
}

.tweet {
	border: 1px solid #000;
	background-color: #fff;
	border-radius: 10px;
	padding: 7px;
	width: 100%;
}

.right-img {
	float: right;
	border: 5px solid #ccc;
	margin-left: 20px;
	margin-bottom: 10px;
}

.medium {
	height: 250px;
}

img {
	vertical-align: middle;
	height: 100%;
	border-style: none;
}
.left-img {
	float: left;
	border: 5px solid #ccc;
	margin-right: 20px;
	margin-bottom: 10px;
}

.caption {
	padding: 5px;
	font-size: 8pt;
}

#old-flourish {
	right: 48px;
	top: 17px;
	position: absolute;
}

.essay {
	line-height: 150%;
}

#logo img {
	width: 800px;
}
